{% extends 'base.html.twig' %}
{% block body %}
 
   <div class="text-center">
       <h3>ajout des notes </h3>
 
       <div class="jumbotron text-center">
           <ajout></ajout>
       </div>
   </div>
   
  
 
{% endblock %}