{% extends 'base.html.twig' %}
{% block body %}
 
   <div class="text-center">
       <h1>voici tous les notes </h1>
 
       <div class="jumbotron text-center">
           <notes></notes>
       </div>
   </div>
   
  
 
{% endblock %}